@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
    color: #f2f2f2;
    background: #9b91fa;
}

::selection {
    color: #f2f2f2;
    background: #9b91fa;
}

.reveal {
  opacity: 0;
  visibility: hidden;
}

.fouc {
  opacity: 0;
  visibility: hidden;
}

.lp {
  overflow: hidden;
}

.clipped-corners {
  clip-path: polygon(
    calc(0% + 6rem) 0%,
    100% 0%,
    100% calc(100% - 6rem),
    calc(100% - 6rem) 100%,
    0% 100%,
    0% 6rem
  );
}

@media (min-width: 768px) {
  .clipped-corners {
    clip-path: polygon(
      calc(0% + 12rem) 0%,
      100% 0%,
      100% calc(100% - 12rem),
      calc(100% - 12rem) 100%,
      0% 100%,
      0% 12rem
    );
  }
}
