@tailwind base;
@tailwind components;
@tailwind utilities;

.reveal {
  opacity: 0;
  visibility: hidden;
}

.fouc {
  opacity: 0;
  visibility: hidden;
}

.lp {
  overflow: hidden;
}

.clipped-corners {
  clip-path: polygon(
    calc(0% + 6rem) 0%,
    100% 0%,
    100% calc(100% - 6rem),
    calc(100% - 6rem) 100%,
    0% 100%,
    0% 6rem
  );
}

::-moz-selection {
  color: #f2f2f2;
  background: #9b91fa;
}

::selection {
  color: #f2f2f2;
  background: #9b91fa;
}
